@page "/"
<h1>Blazor App</h1>

Bem vindo ao Aplicativo com códigos de exemplo para o Blazor.

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>Cada menu existe um sistema desenvolvido em Blazor.</strong>
</div>